


body {
   color: rgb(27, 24, 25);
    background: grey;
}
h1{
    text-align: center;
}
p.aboutme{
    min-width: 450px;
    max-width: 650px;
    text-align: left;
    border:solid black;
    padding: 5px;
    margin: 0px;

}
#jits{
    
    margin: 0 0 0 15px;
}
}
h2{
    float: right;
    box-align: left;
    
#movies{
    float: right;
    box-align: left;

}
